*{
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
}

h1{
    color:darkorchid;
}

h3{
    color:lightseagreen;
}

p{
    color:midnightblue;
}

li{
    color:indianred;
}